<div class="row">
    <div class="col-8" style="padding: 20px;">
      <img 
        [src]="imageUrl" 
        class="card__img">
      <label class="description__title">Descripcion del producto</label>
      <label>El convenio prevé, además, suspensiones temporales de sus actividades productivas en la planta de vehículos particulares y utilitarios, la posibilidad que el personal adelante vacaciones y la prórroga de 480 contratos a plazo fijo. También, Renault asume el compromiso de mantener las 1.500 fuentes de trabajo vigentes, "no produciendo despidos por razones económicas o falta de trabajo".</label>
    </div>
  
    <div class="col-4" style="margin: 40px 0px 40px 0px; padding: 20px;">
      <label>nuevo {{ itemDetail.sold_quantity}} vendidos</label>
      <label style="font-size: 1.5em;">{{ itemDetail.title }}</label>
      <label style="font-size: 1.7em;">$ {{ itemDetail.price }}</label>
      <app-primary-btn></app-primary-btn>
    </div>  
</div>
