<div class="row" style="background-color: white; height: 100%; width: 100%;">
  <div class="col-8" style="margin: 40px 0px 40px 0px">
    <img src="https://cdn.tn.com.ar/sites/default/files/styles/1366x765/public/2019/05/28/gallardo.jpg" style="width: 100%; height: 100;">
    <label style="font-size: 1.5em; color: gray; margin: 20px;">Descripcion del producto</label>
    <label>El convenio prevé, además, suspensiones temporales de sus actividades productivas en la planta de vehículos particulares y utilitarios, la posibilidad que el personal adelante vacaciones y la prórroga de 480 contratos a plazo fijo. También, Renault asume el compromiso de mantener las 1.500 fuentes de trabajo vigentes, "no produciendo despidos por razones económicas o falta de trabajo".</label>
  </div>
  <div class="col-4" style="margin: 40px 0px 40px 0px">
    <label>nuevo 20 vendidos</label>
    <label style="font-size: 1.5em;">Alto telefono ATR chabon</label>
    <label style="font-size: 1.7em;">$ 8000</label>
    <app-primary-btn></app-primary-btn>
  </div>
</div>