<div class="row">
    <div class="col-8" style="background-color: #fafafa; padding: 32px;">
      <div class="left-card">
        <img
          [src]="imageUrl" 
          class="left-card__img">
        <label class="left-card__title">Descripcion del producto</label>
        <label class="left-card__description">{{ lorem }}</label>
      </div>
    </div>
  
    <div class="col-4" style="background-color: #fafafa; padding: 32px" >
        <div class="right-card">
          <label class="right-card__sold">Nuevo - {{ itemDetail.sold_quantity }} vendidos</label>
          <label class="label-text">{{ itemDetail.title }}</label>
          <label class="right-card__price">$ {{ itemDetail.price }}</label>
          <app-primary-btn></app-primary-btn>
        </div> 
    </div>  
</div>
